# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
          - "3.12"

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      - name: Install dopamax
        run: uv sync --all-extras --dev
      - name: Run Unit Tests
        run: |
          uv run pytest tests
      - name: Test PPO CartPole Training
        run: |
          dopamax train --config examples/ppo-cartpole/config.yaml --offline
      - name: Test DQN CartPole Training
        run: |
          dopamax train --config examples/dqn-cartpole/config.yaml --offline
      - name: Test AlphaZero TicTacToe Training
        run: |
          dopamax train --config examples/alphazero-tictactoe/config.yaml --offline
